<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lhiot.basic.mapper.ApplicationMapper">

    <!-- 数据库字段对象关系映射 -->
    <resultMap id="BaseResultMap"
        type="com.lhiot.basic.domain.Application" >
        <result column="description" property="description" />
        <result column="application_name" property="applicationName" />
    </resultMap>

    <!-- base查询字段  -->
    <sql id="Base_Column_List" >
        <trim suffixOverrides="," >
            description,
            application_name,
        </trim>
    </sql>

    <!--新增应用类型表(应用类型:APP-视食 WECHAT_MALL-微商城 S_MALL-小程序)-->
    <insert id="create" parameterType="com.lhiot.basic.domain.Application">
        insert into application
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="description != null ">
                description,
            </if>
            <if test="applicationName != null ">
                application_name,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="description != null ">
                #{description},
            </if>
            <if test="applicationName != null ">
                #{applicationName},
            </if>
        </trim>
    </insert>

    <!--根据id修改应用类型表(应用类型:APP-视食 WECHAT_MALL-微商城 S_MALL-小程序)-->
    <update id="updateById" parameterType="com.lhiot.basic.domain.Application">
        update application
        <set>
            <if test="description != null ">
                description = #{description},
            </if>
        </set>
        where application_name=#{applicationName}
    </update>

    <!--根据ids删除应用类型表(应用类型:APP-视食 WECHAT_MALL-微商城 S_MALL-小程序)-->
    <delete id="deleteByIds" parameterType="java.util.List">
        delete from application where id in
        <foreach collection="list" item="item" open="("
            separator="," close=")">
            #{item}
        </foreach>
    </delete>


    <!-- 根据id查找应用类型表(应用类型:APP-视食 WECHAT_MALL-微商城 S_MALL-小程序) -->
	<select id="selectById" resultMap="BaseResultMap"
		parameterType="String"> select <include refid="Base_Column_List" />
		from application where application_name=#{applicationName}
	</select>

    <!-- base where条件  -->
    <sql id="Base_Where_Condition" >
        <where>
            <if test="description != null ">
                and description = #{description}
            </if>
            <if test="applicationName != null ">
                and application_name = #{applicationName}
            </if>
        </where>
    </sql>


    <!--查询应用类型表(应用类型:APP-视食 WECHAT_MALL-微商城 S_MALL-小程序)列表-->
     <select id="pageApplications" resultMap="BaseResultMap"
        parameterType="com.lhiot.basic.domain.Application">
	        select <include refid="Base_Column_List" />
	        from application
	        <include refid="Base_Where_Condition" />
	        <include refid="common.pager" />
    </select>

    <!--查询应用类型表(应用类型:APP-视食 WECHAT_MALL-微商城 S_MALL-小程序)总记录-->
    <select id="pageApplicationCounts" resultType="long"
        parameterType="com.lhiot.basic.domain.Application">
            select count(1)
            from application
            <include refid="Base_Where_Condition" />
    </select>

</mapper>