<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lhiot.basic.mapper.AssortmentMapper">
	<!-- 根据套餐id的集合查询套餐 -->
	<select id="findByIds" parameterType="java.util.List"
		resultType="com.lhiot.basic.domain.Assortment">
       select * from assortment
       <if test="_parameter != null">
         <trim prefix="where">
         	id in 
         	<foreach collection="list" item="item" open="(" separator="," close=")">
         		#{item}
         	</foreach>
         </trim>
       </if>
	</select>
</mapper>