<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lhiot.basic.mapper.ProductUnitMapper">

    <!-- 数据库字段对象关系映射 -->
    <resultMap id="BaseResultMap"
        type="com.lhiot.basic.domain.ProductUnit" >
        <id column="id" property="id"/>
        <result column="unit_name" property="unitName" />
        <result column="split_status" property="splitStatus" />
    </resultMap>

    <!-- base查询字段  -->
    <sql id="Base_Column_List" >
        <trim suffixOverrides="," >
            id,
            unit_name,
            split_status,
        </trim>
    </sql>

    <!--新增商品单位-->
    <insert id="create" parameterType="com.lhiot.basic.domain.ProductUnit" useGeneratedKeys="true" keyProperty="id">
        insert into product_unit
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null ">
                id,
            </if>
            <if test="unitName != null ">
                unit_name,
            </if>
            <if test="splitStatus != null ">
                split_status,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null ">
                #{id},
            </if>
            <if test="unitName != null ">
                #{unitName},
            </if>
            <if test="splitStatus != null ">
                #{splitStatus},
            </if>
        </trim>
    </insert>

    <!--根据id修改商品单位-->
    <update id="updateById" parameterType="com.lhiot.basic.domain.ProductUnit">
        update product_unit
        <set>
            <if test="unitName != null ">
                unit_name = #{unitName},
            </if>
            <if test="splitStatus != null ">
                split_status = #{splitStatus},
            </if>
        </set>
        where id=#{id}
    </update>

    <!--根据id删除商品单位-->
    <delete id="deleteByIds" parameterType="java.util.List">
        delete from product_unit where id in
        <foreach collection="list" item="item" open="("
            separator="," close=")">
            #{item}
        </foreach>
    </delete>


    <!-- base where条件  -->
    <sql id="Base_Where_Condition" >
        <where>
            <if test="id != null ">
                and id = #{id}
            </if>
            <if test="unitName != null ">
                and unit_name like concat('%',#{unitName},'%')
            </if>
            <if test="splitStatus != null ">
                and split_status = #{splitStatus}
            </if>
        </where>
    </sql>

    <!--查询商品单位-->
    <select id="pageProductUnits" resultMap="BaseResultMap"
        parameterType="com.lhiot.basic.domain.ProductUnit">
	        select <include refid="Base_Column_List" />
	        from product_unit
	        <include refid="Base_Where_Condition" />
	        <include refid="common.pager" />
    </select>

    <!--查询商品单位总记录-->
    <select id="pageProductUnitCounts" resultType="long"
        parameterType="com.lhiot.basic.domain.ProductUnit">
            select count(1)
            from product_unit
            <include refid="Base_Where_Condition" />
    </select>

    <!-- 根据id查找商品单位 -->
    <select id="selectById" resultMap="BaseResultMap"
        parameterType="long"> select <include refid="Base_Column_List" />
        from product_unit where id = #{id}
    </select>

    <!-- 查询当前单位是否被使用 -->
    <select id="isUnitIdInUse" parameterType="java.util.List" resultType="Integer">
        SELECT COUNT(t.id) FROM(
            SELECT id FROM product WHERE unit_id in
            <foreach collection="list" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
            UNION ALL
            SELECT id FROM wx_small_product_standard WHERE unit_id in
            <foreach collection="list" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        )AS t
    </select>

</mapper>