<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lhiot.basic.mapper.ProducStandardMapper">

    <!-- 数据库字段对象关系映射 -->
    <resultMap id="BaseResultMap"
        type="com.lhiot.basic.domain.ProductStandard" >
        <id column="id" property="id"/>
        <result column="product_id" property="productId" />
        <result column="apply_type" property="applyType" />
        <result column="product_code" property="productCode" />
        <result column="product_name" property="productName" />
        <result column="group_id" property="groupId" />
        <result column="source_code" property="sourceCode" />
        <result column="image" property="image" />
        <result column="small_image" property="smallImage" />
        <result column="large_image" property="largeImage" />
        <result column="status" property="status" />
        <result column="base_unit_id" property="baseUnitId" />
        <result column="base_barcode" property="baseBarcode" />
        <result column="hd_skuid" property="hdSkuid" />
        <result column="video_url" property="videoUrl" />
        <result column="video_image" property="videoImage" />
        <result column="base_qty" property="baseQty" />
        <result column="limit_qty" property="limitQty" />
        <result column="product_description" property="productDescription" />
        <result column="barcode" property="barcode" />
        <result column="specification" property="specification" />
        <result column="standard_qty" property="standardQty" />
        <result column="unit_id" property="unitId" />
        <result column="price" property="price" />
        <result column="sale_price" property="salePrice" />
        <result column="rank" property="rank" />
        <result column="description" property="description" />
        <result column="shelves_status" property="shelvesStatus" />
    </resultMap>

    <!-- base查询字段  -->
    <sql id="Base_Column_List" >
        <trim suffixOverrides="," >
            id,
            product_id,
            apply_type,
            product_code,
            product_name,
            group_id,
            source_code,
            image,
            small_image,
            large_image,
            status,
            base_unit_id,
            base_barcode,
            hd_skuid,
            video_url,
            video_image,
            base_qty,
            limit_qty,
            product_description,
            barcode,
            specification,
            standard_qty,
            unit_id,
            price,
            sale_price,
            rank,
            description,
            shelves_status,
        </trim>
    </sql>

    <!--新增商品规格-->
    <insert id="create" parameterType="com.lhiot.basic.domain.ProductStandard" useGeneratedKeys="true" keyProperty="id">
        insert into product_standard
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null ">
                id,
            </if>
            <if test="productId != null ">
                product_id,
            </if>
            <if test="applyType != null ">
                apply_type,
            </if>
            <if test="productCode != null ">
                product_code,
            </if>
            <if test="productName != null ">
                product_name,
            </if>
            <if test="groupId != null ">
                group_id,
            </if>
            <if test="sourceCode != null ">
                source_code,
            </if>
            <if test="image != null ">
                image,
            </if>
            <if test="smallImage != null ">
                small_image,
            </if>
            <if test="largeImage != null ">
                large_image,
            </if>
            <if test="status != null ">
                status,
            </if>
            <if test="baseUnitId != null ">
                base_unit_id,
            </if>
            <if test="baseBarcode != null ">
                base_barcode,
            </if>
            <if test="hdSkuid != null ">
                hd_skuid,
            </if>
            <if test="videoUrl != null ">
                video_url,
            </if>
            <if test="videoImage != null ">
                video_image,
            </if>
            <if test="baseQty != null ">
                base_qty,
            </if>
            <if test="limitQty != null ">
                limit_qty,
            </if>
            <if test="productDescription != null ">
                product_description,
            </if>
            <if test="barcode != null ">
                barcode,
            </if>
            <if test="specification != null ">
                specification,
            </if>
            <if test="standardQty != null ">
                standard_qty,
            </if>
            <if test="unitId != null ">
                unit_id,
            </if>
            <if test="price != null ">
                price,
            </if>
            <if test="salePrice != null ">
                sale_price,
            </if>
            <if test="rank != null ">
                rank,
            </if>
            <if test="description != null ">
                description,
            </if>
            <if test="shelvesStatus != null ">
                shelves_status,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null ">
                #{id},
            </if>
            <if test="productId != null ">
                #{productId},
            </if>
            <if test="applyType != null ">
                #{applyType},
            </if>
            <if test="productCode != null ">
                #{productCode},
            </if>
            <if test="productName != null ">
                #{productName},
            </if>
            <if test="groupId != null ">
                #{groupId},
            </if>
            <if test="sourceCode != null ">
                #{sourceCode},
            </if>
            <if test="image != null ">
                #{image},
            </if>
            <if test="smallImage != null ">
                #{smallImage},
            </if>
            <if test="largeImage != null ">
                #{largeImage},
            </if>
            <if test="status != null ">
                #{status},
            </if>
            <if test="baseUnitId != null ">
                #{baseUnitId},
            </if>
            <if test="baseBarcode != null ">
                #{baseBarcode},
            </if>
            <if test="hdSkuid != null ">
                #{hdSkuid},
            </if>
            <if test="videoUrl != null ">
                #{videoUrl},
            </if>
            <if test="videoImage != null ">
                #{videoImage},
            </if>
            <if test="baseQty != null ">
                #{baseQty},
            </if>
            <if test="limitQty != null ">
                #{limitQty},
            </if>
            <if test="productDescription != null ">
                #{productDescription},
            </if>
            <if test="barcode != null ">
                #{barcode},
            </if>
            <if test="specification != null ">
                #{specification},
            </if>
            <if test="standardQty != null ">
                #{standardQty},
            </if>
            <if test="unitId != null ">
                #{unitId},
            </if>
            <if test="price != null ">
                #{price},
            </if>
            <if test="salePrice != null ">
                #{salePrice},
            </if>
            <if test="rank != null ">
                #{rank},
            </if>
            <if test="description != null ">
                #{description},
            </if>
            <if test="shelvesStatus != null ">
                #{shelvesStatus},
            </if>
        </trim>
    </insert>

    <!--根据id修改商品规格-->
    <update id="updateById" parameterType="com.lhiot.basic.domain.ProductStandard">
        update product_standard
        <set>
            <if test="id != null ">
                id = #{id},
            </if>
            <if test="productId != null ">
                product_id = #{productId},
            </if>
            <if test="applyType != null ">
                apply_type = #{applyType},
            </if>
            <if test="productCode != null ">
                product_code = #{productCode},
            </if>
            <if test="productName != null ">
                product_name = #{productName},
            </if>
            <if test="groupId != null ">
                group_id = #{groupId},
            </if>
            <if test="sourceCode != null ">
                source_code = #{sourceCode},
            </if>
            <if test="image != null ">
                image = #{image},
            </if>
            <if test="smallImage != null ">
                small_image = #{smallImage},
            </if>
            <if test="largeImage != null ">
                large_image = #{largeImage},
            </if>
            <if test="status != null ">
                status = #{status},
            </if>
            <if test="baseUnitId != null ">
                base_unit_id = #{baseUnitId},
            </if>
            <if test="baseBarcode != null ">
                base_barcode = #{baseBarcode},
            </if>
            <if test="hdSkuid != null ">
                hd_skuid = #{hdSkuid},
            </if>
            <if test="videoUrl != null ">
                video_url = #{videoUrl},
            </if>
            <if test="videoImage != null ">
                video_image = #{videoImage},
            </if>
            <if test="baseQty != null ">
                base_qty = #{baseQty},
            </if>
            <if test="limitQty != null ">
                limit_qty = #{limitQty},
            </if>
            <if test="productDescription != null ">
                product_description = #{productDescription},
            </if>
            <if test="barcode != null ">
                barcode = #{barcode},
            </if>
            <if test="specification != null ">
                specification = #{specification},
            </if>
            <if test="standardQty != null ">
                standard_qty = #{standardQty},
            </if>
            <if test="unitId != null ">
                unit_id = #{unitId},
            </if>
            <if test="price != null ">
                price = #{price},
            </if>
            <if test="salePrice != null ">
                sale_price = #{salePrice},
            </if>
            <if test="rank != null ">
                rank = #{rank},
            </if>
            <if test="description != null ">
                description = #{description},
            </if>
            <if test="shelvesStatus != null ">
                shelves_status = #{shelvesStatus},
            </if>
        </set>
        where id=#{id}
    </update>

    <!--根据ids删除商品规格-->
    <delete id="deleteByIds" parameterType="java.util.List">
        delete from product_standard where id in
        <foreach collection="list" item="item" open="("
            separator="," close=")">
            #{item}
        </foreach>
    </delete>


    <!-- 根据id查找商品规格 -->
	<select id="selectById" resultMap="BaseResultMap"
		parameterType="long"> select <include refid="Base_Column_List" />
		from product_standard where id = #{id}
	</select>


    <!-- base where条件  -->
    <!-- 分页查询where条件 -->
    <sql id="pageWxSmallProductStandardsWhere">
        <trim prefix="where" prefixOverrides="and">
            <if test="id != null">
                and t1.id = #{id}
            </if>
            <if test="barcode != null and barcode != ''">
                and t1.barcode like concat('%',#{barcode},'%')
            </if>
            <if test="productName != null and productName != ''">
                and t1.product_name like concat('%',#{productName},'%')
            </if>
            <if test="productId != null and productId != ''">
                and t1.product_id  = #{productId}
            </if>
            <if test="shelvesStatus != null ">
                and t1.shelves_status  = #{shelvesStatus}
            </if>
            <if test="minPrice != null and minPrice != ''">
                and t1.price  &gt;= #{minPrice}
            </if>
            <if test="maxPrice != null and maxPrice != ''">
                and t1.price  &lt;= #{maxPrice}
            </if>
            <if test="productCode != null and productCode != ''">
                and t1.product_code like concat('%',#{productCode},'%')
            </if>
            <if test="applyType != null ">
                and t1.apply_type = #{applyType}
            </if>

            <!-- 根据规格ids匹配 -->
            <if test="flag">
                <if test="ids != null">
                    and t1.id in
                    <foreach collection="ids" item="item" open="("
                             separator="," close=")">
                        #{item}
                    </foreach>
                </if>
                <if test="barcode != null and barcode != ''">
                    and t1.barcode = #{barcode}
                </if>
            </if>

        </trim>
    </sql>


    <!--查询商品规格列表-->
     <select id="pageProducstandards" resultType="com.lhiot.basic.domain.ProductStandard"
        parameterType="com.lhiot.basic.domain.ProductStandard">
	       SELECT
                t1.id,
                t1.product_id AS productId,
                t1.barcode,
                t1.specification,
                t1.standard_qty AS standardQty,
                t1.unit_id AS unitId,
                t1.shelves_status AS shelvesStatus,
                t1.price,
                t1.sale_price AS salePrice,
                t1.rank,
                t1.description,
                t1.product_name AS productName,
                t1.image,
                t1.small_image smallImage,
                t1.large_image largeImage,
                t1.limit_qty limitQty,
                t1.video_url videoUrl,
                t1.video_image videoImage,
                t1.base_qty baseQty,
                t1.product_description productDescription,
                t1.product_code AS productCode,
                t1.apply_type AS applyType,
                t3.unit_name AS productUnit,
                t4.group_name AS groupName,
                t5.unit_name AS baseUnit
            FROM
            product_standard t1
            LEFT JOIN product_unit t3 ON t1.base_unit_id = t3.id
            LEFT JOIN product_group t4 ON t1.group_id = t4.id
            LEFT JOIN product_unit t5 ON t1.unit_id = t5.id
         <include refid="pageWxSmallProductStandardsWhere" />
         <include refid="common.pager" />
    </select>

    <!--查询商品规格总记录-->
    <select id="pageProducstandardCounts" resultType="long"
        parameterType="com.lhiot.basic.domain.ProductStandard">
            select count(1)
            from product_standard t1
        <include refid="pageWxSmallProductStandardsWhere" />
    </select>

</mapper>