<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lhiot.basic.mapper.ProductMapper">

    <!-- 数据库字段对象关系映射 -->
    <resultMap id="BaseResultMap"
        type="com.lhiot.basic.domain.Product" >
        <id column="id" property="id"/>
        <result column="product_code" property="productCode" />
        <result column="product_name" property="productName" />
        <result column="group_id" property="groupId" />
        <result column="source_code" property="sourceCode" />
        <result column="image" property="image" />
        <result column="small_image" property="smallImage" />
        <result column="large_image" property="largeImage" />
        <result column="status" property="status" />
        <result column="unit_id" property="unitId" />
        <result column="base_barcode" property="baseBarcode" />
        <result column="hd_skuid" property="hdSkuid" />
        <result column="video_url" property="videoUrl" />
        <result column="video_image" property="videoImage" />
        <result column="base_qty" property="baseQty" />
        <result column="limit_qty" property="limitQty" />
        <result column="description" property="description" />
    </resultMap>

    <!-- base查询字段  -->
    <sql id="Base_Column_List" >
        <trim suffixOverrides="," >
            id,
            product_code,
            product_name,
            group_id,
            source_code,
            image,
            small_image,
            large_image,
            status,
            unit_id,
            base_barcode,
            hd_skuid,
            video_url,
            video_image,
            base_qty,
            limit_qty,
            description,
            ( SELECT group_name FROM product_group WHERE id = group_id ) AS groupName,
            ( SELECT unit_name FROM product_unit WHERE id = unit_id ) AS unitName
        </trim>
    </sql>

    <!--新增商品信息-->
    <insert id="create" parameterType="com.lhiot.basic.domain.Product" useGeneratedKeys="true" keyProperty="id">
        insert into product
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null ">
                id,
            </if>
            <if test="productCode != null ">
                product_code,
            </if>
            <if test="productName != null ">
                product_name,
            </if>
            <if test="groupId != null ">
                group_id,
            </if>
            <if test="sourceCode != null ">
                source_code,
            </if>
            <if test="image != null ">
                image,
            </if>
            <if test="smallImage != null ">
                small_image,
            </if>
            <if test="largeImage != null ">
                large_image,
            </if>
            <if test="status != null ">
                status,
            </if>
            <if test="unitId != null ">
                unit_id,
            </if>
            <if test="baseBarcode != null ">
                base_barcode,
            </if>
            <if test="hdSkuid != null ">
                hd_skuid,
            </if>
            <if test="videoUrl != null ">
                video_url,
            </if>
            <if test="videoImage != null ">
                video_image,
            </if>
            <if test="baseQty != null ">
                base_qty,
            </if>
            <if test="limitQty != null ">
                limit_qty,
            </if>
            <if test="description != null ">
                description,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null ">
                #{id},
            </if>
            <if test="productCode != null ">
                #{productCode},
            </if>
            <if test="productName != null ">
                #{productName},
            </if>
            <if test="groupId != null ">
                #{groupId},
            </if>
            <if test="sourceCode != null ">
                #{sourceCode},
            </if>
            <if test="image != null ">
                #{image},
            </if>
            <if test="smallImage != null ">
                #{smallImage},
            </if>
            <if test="largeImage != null ">
                #{largeImage},
            </if>
            <if test="status != null ">
                #{status},
            </if>
            <if test="unitId != null ">
                #{unitId},
            </if>
            <if test="baseBarcode != null ">
                #{baseBarcode},
            </if>
            <if test="hdSkuid != null ">
                #{hdSkuid},
            </if>
            <if test="videoUrl != null ">
                #{videoUrl},
            </if>
            <if test="videoImage != null ">
                #{videoImage},
            </if>
            <if test="baseQty != null ">
                #{baseQty},
            </if>
            <if test="limitQty != null ">
                #{limitQty},
            </if>
            <if test="description != null ">
                #{description},
            </if>
        </trim>
    </insert>

    <!--根据id修改商品信息-->
    <update id="updateById" parameterType="com.lhiot.basic.domain.Product">
        update product
        <set>
            <if test="productCode != null ">
                product_code = #{productCode},
            </if>
            <if test="productName != null ">
                product_name = #{productName},
            </if>
            <if test="groupId != null ">
                group_id = #{groupId},
            </if>
            <if test="sourceCode != null ">
                source_code = #{sourceCode},
            </if>
            <if test="image != null ">
                image = #{image},
            </if>
            <if test="smallImage != null ">
                small_image = #{smallImage},
            </if>
            <if test="largeImage != null ">
                large_image = #{largeImage},
            </if>
            <if test="status != null ">
                status = #{status},
            </if>
            <if test="unitId != null ">
                unit_id = #{unitId},
            </if>
            <if test="baseBarcode != null ">
                base_barcode = #{baseBarcode},
            </if>
            <if test="hdSkuid != null ">
                hd_skuid = #{hdSkuid},
            </if>
            <if test="videoUrl != null ">
                video_url = #{videoUrl},
            </if>
            <if test="videoImage != null ">
                video_image = #{videoImage},
            </if>
            <if test="baseQty != null ">
                base_qty = #{baseQty},
            </if>
            <if test="limitQty != null ">
                limit_qty = #{limitQty},
            </if>
            <if test="description != null ">
                description = #{description},
            </if>
        </set>
        where id=#{id}
    </update>

    <!--根据id删除商品信息-->
    <delete id="deleteByIds" parameterType="java.util.List">
        delete from product where id in
        <foreach collection="list" item="item" open="("
            separator="," close=")">
            #{item}
        </foreach>
    </delete>


    <!-- base where条件  -->
    <sql id="Base_Where_Condition" >
        <where>
            <if test="id != null ">
                and id = #{id}
            </if>
            <if test="productCode != null ">
                and product_code = #{productCode}
            </if>
            <if test="productName != null ">
                and product_name like concat('%',#{productName},'%')
            </if>
            <if test="groupId != null ">
                and group_id = #{groupId}
            </if>
            <if test="sourceCode != null ">
                and source_code = #{sourceCode}
            </if>
            <if test="image != null ">
                and image = #{image}
            </if>
            <if test="smallImage != null ">
                and small_image = #{smallImage}
            </if>
            <if test="largeImage != null ">
                and large_image = #{largeImage}
            </if>
            <if test="status != null ">
                and status = #{status}
            </if>
            <if test="unitId != null ">
                and unit_id = #{unitId}
            </if>
            <if test="baseBarcode != null ">
                and base_barcode = #{baseBarcode}
            </if>
            <if test="hdSkuid != null ">
                and hd_skuid = #{hdSkuid}
            </if>
            <if test="videoUrl != null ">
                and video_url = #{videoUrl}
            </if>
            <if test="videoImage != null ">
                and video_image = #{videoImage}
            </if>
            <if test="baseQty != null ">
                and base_qty = #{baseQty}
            </if>
            <if test="limitQty != null ">
                and limit_qty = #{limitQty}
            </if>
            <if test="description != null ">
                and description = #{description}
            </if>

            <if test="ids != null">
                and id in
                <foreach collection="ids" item="item" open="("
                    separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
    </sql>

    <!--查询商品信息-->
    <select id="pageProducts" resultMap="BaseResultMap"
        parameterType="com.lhiot.basic.domain.Product">
	        select <include refid="Base_Column_List" />
	        from product
	        <include refid="Base_Where_Condition" />
	        <include refid="common.pager" />
    </select>

    <!--查询商品信息总记录-->
    <select id="pageProductCounts" resultType="long"
        parameterType="com.lhiot.basic.domain.Product">
            select count(1)
            from product
            <include refid="Base_Where_Condition" />
    </select>

     <!-- 根据商品分类编码查询，查询当前分类下是否有商品 -->
    <select id="findProductByCode" parameterType="java.util.List" resultType="Integer">
        SELECT count(id) FROM product WHERE group_id in
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <!-- 根据id查找商品信息 -->
    <select id="selectById" resultMap="BaseResultMap"
        parameterType="long"> select <include refid="Base_Column_List" />
        from product where id = #{id}
    </select>

</mapper>