<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lhiot.basic.mapper.StoreMapper">

    <!-- 数据库字段对象关系映射 -->
    <resultMap id="BaseResultMap"
        type="com.lhiot.basic.domain.Store" >
        <result column="store_id" property="storeId" />
        <result column="store_code" property="storeCode" />
        <result column="store_name" property="storeName" />
        <result column="store_address" property="storeAddress" />
        <result column="store_phone" property="storePhone" />
        <result column="store_image" property="storeImage" />
        <result column="store_area" property="storeArea" />
        <result column="store_coordy" property="storeCoordy" />
        <result column="store_coordx" property="storeCoordx" />
        <result column="store_status" property="storeStatus" />
        <result column="store_flagship" property="storeFlagship" />
        <result column="store_type" property="storeType" />
        <result column="video_url" property="videoUrl" />
        <result column="begin_time" property="beginTime" />
        <result column="end_time" property="endTime" />
        <result column="tape_url" property="tapeUrl" />
    </resultMap>

    <!-- base查询字段  -->
    <sql id="Base_Column_List" >
        <trim suffixOverrides="," >
            store_id,
            store_code,
            store_name,
            store_address,
            store_phone,
            store_image,
            store_area,
            store_coordy,
            store_coordx,
            store_status,
            store_flagship,
            store_type,
            video_url,
            begin_time,
            end_time,
            tape_url,
        </trim>
    </sql>

    <!--新增门店-->
    <insert id="create" parameterType="com.lhiot.basic.domain.Store" useGeneratedKeys="true" keyProperty="storeId">
        insert into store
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="storeId != null ">
                store_id,
            </if>
            <if test="storeCode != null ">
                store_code,
            </if>
            <if test="storeName != null ">
                store_name,
            </if>
            <if test="storeAddress != null ">
                store_address,
            </if>
            <if test="storePhone != null ">
                store_phone,
            </if>
            <if test="storeImage != null ">
                store_image,
            </if>
            <if test="storeArea != null ">
                store_area,
            </if>
            <if test="storeCoordy != null ">
                store_coordy,
            </if>
            <if test="storeCoordx != null ">
                store_coordx,
            </if>
            <if test="storeStatus != null ">
                store_status,
            </if>
            <if test="storeFlagship != null ">
                store_flagship,
            </if>
            <if test="storeType != null ">
                store_type,
            </if>
            <if test="videoUrl != null ">
                video_url,
            </if>
            <if test="beginTime != null ">
                begin_time,
            </if>
            <if test="endTime != null ">
                end_time,
            </if>
            <if test="tapeUrl != null ">
                tape_url,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="storeId != null ">
                #{storeId},
            </if>
            <if test="storeCode != null ">
                #{storeCode},
            </if>
            <if test="storeName != null ">
                #{storeName},
            </if>
            <if test="storeAddress != null ">
                #{storeAddress},
            </if>
            <if test="storePhone != null ">
                #{storePhone},
            </if>
            <if test="storeImage != null ">
                #{storeImage},
            </if>
            <if test="storeArea != null ">
                #{storeArea},
            </if>
            <if test="storeCoordy != null ">
                #{storeCoordy},
            </if>
            <if test="storeCoordx != null ">
                #{storeCoordx},
            </if>
            <if test="storeStatus != null ">
                #{storeStatus},
            </if>
            <if test="storeFlagship != null ">
                #{storeFlagship},
            </if>
            <if test="storeType != null ">
                #{storeType},
            </if>
            <if test="videoUrl != null ">
                #{videoUrl},
            </if>
            <if test="beginTime != null ">
                #{beginTime},
            </if>
            <if test="endTime != null ">
                #{endTime},
            </if>
            <if test="tapeUrl != null ">
                #{tapeUrl},
            </if>
        </trim>
    </insert>

    <!--根据id修改门店-->
    <update id="updateById" parameterType="com.lhiot.basic.domain.Store">
        update store
        <set>
            <if test="storeCode != null ">
                store_code = #{storeCode},
            </if>
            <if test="storeName != null ">
                store_name = #{storeName},
            </if>
            <if test="storeAddress != null ">
                store_address = #{storeAddress},
            </if>
            <if test="storePhone != null ">
                store_phone = #{storePhone},
            </if>
            <if test="storeImage != null ">
                store_image = #{storeImage},
            </if>
            <if test="storeArea != null ">
                store_area = #{storeArea},
            </if>
            <if test="storeCoordy != null ">
                store_coordy = #{storeCoordy},
            </if>
            <if test="storeCoordx != null ">
                store_coordx = #{storeCoordx},
            </if>
            <if test="storeStatus != null ">
                store_status = #{storeStatus},
            </if>
            <if test="storeFlagship != null ">
                store_flagship = #{storeFlagship},
            </if>
            <if test="storeType != null ">
                store_type = #{storeType},
            </if>
            <if test="videoUrl != null ">
                video_url = #{videoUrl},
            </if>
            <if test="beginTime != null ">
                begin_time = #{beginTime},
            </if>
            <if test="endTime != null ">
                end_time = #{endTime},
            </if>
            <if test="tapeUrl != null ">
                tape_url = #{tapeUrl},
            </if>
        </set>
        where store_id=#{storeId}
    </update>

    <!--根据ids删除门店-->
    <delete id="deleteByIds" parameterType="java.util.List">
        delete from store where store_id in
        <foreach collection="list" item="item" open="("
            separator="," close=")">
            #{item}
        </foreach>
    </delete>


    <!-- 根据id查找门店 -->
	<select id="selectById" resultMap="BaseResultMap"
		parameterType="long"> select <include refid="Base_Column_List" />
		from store where store_id = #{id}
	</select>


    <!-- base where条件  -->
    <sql id="Base_Where_Condition" >
        <where>
            <if test="storeId != null ">
                and store_id = #{storeId}
            </if>
            <if test="storeCode != null ">
                and store_code = #{storeCode}
            </if>
            <if test="storeName != null ">
                and store_name like concat('%',#{storeName},'%')
            </if>
            <if test="storeAddress != null ">
                and store_address = #{storeAddress}
            </if>
            <if test="storePhone != null ">
                and store_phone = #{storePhone}
            </if>
            <if test="storeImage != null ">
                and store_image = #{storeImage}
            </if>
            <if test="storeArea != null ">
                and store_area = #{storeArea}
            </if>
            <if test="storeCoordy != null ">
                and store_coordy = #{storeCoordy}
            </if>
            <if test="storeCoordx != null ">
                and store_coordx = #{storeCoordx}
            </if>
            <if test="storeStatus != null ">
                and store_status = #{storeStatus}
            </if>
            <if test="storeFlagship != null ">
                and store_flagship = #{storeFlagship}
            </if>
            <if test="storeType != null ">
                and store_type = #{storeType}
            </if>
            <if test="videoUrl != null ">
                and video_url = #{videoUrl}
            </if>
            <if test="beginTime != null ">
                and begin_time = #{beginTime}
            </if>
            <if test="endTime != null ">
                and end_time = #{endTime}
            </if>
            <if test="tapeUrl != null ">
                and tape_url = #{tapeUrl}
            </if>
        </where>
    </sql>

    <!--查询门店-->
    <select id="pageStores" resultMap="BaseResultMap"
        parameterType="com.lhiot.basic.domain.Store">
	        select <include refid="Base_Column_List" />
	        from store
	        <include refid="Base_Where_Condition" />
	        <include refid="common.pager" />
    </select>

    <!--查询门店总记录-->
    <select id="pageStoreCounts" resultType="long"
        parameterType="com.lhiot.basic.domain.Store">
            select count(1)
            from store
            <include refid="Base_Where_Condition" />
    </select>

    <!--根据ids获取门店信息(id和名称)-->
    <select id="findStoreList" resultMap="BaseResultMap"
        parameterType="List">
            select
                store_id,
                store_name
            from store where store_id in
            <foreach collection="list" item="item" open="("
                     separator="," close=")">
                #{item}
            </foreach>
    </select>

</mapper>