<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lhiot.basic.mapper.SystemSettingCategoryMapper">

    <!-- 数据库字段对象关系映射 -->
    <resultMap id="BaseResultMap"
        type="com.lhiot.basic.domain.SystemSettingCategory" >
        <id column="id" property="id"/>
        <result column="parent_id" property="parentId" />
        <result column="categories_name" property="categoriesName" />
    </resultMap>

    <!-- base查询字段  -->
    <sql id="Base_Column_List" >
        <trim suffixOverrides="," >
            id,
            parent_id,
            categories_name,
        </trim>
    </sql>

    <!--新增系统设置分类-->
    <insert id="create" parameterType="com.lhiot.basic.domain.SystemSettingCategory" useGeneratedKeys="true" keyProperty="id">
        insert into system_setting_category
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null ">
                id,
            </if>
            <if test="parentId != null ">
                parent_id,
            </if>
            <if test="categoriesName != null ">
                categories_name,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null ">
                #{id},
            </if>
            <if test="parentId != null ">
                #{parentId},
            </if>
            <if test="categoriesName != null ">
                #{categoriesName},
            </if>
        </trim>
    </insert>

    <!--根据id修改系统设置分类-->
    <update id="updateById" parameterType="com.lhiot.basic.domain.SystemSettingCategory">
        update system_setting_category
        <set>
            <if test="id != null ">
                id = #{id},
            </if>
            <if test="parentId != null ">
                parent_id = #{parentId},
            </if>
            <if test="categoriesName != null ">
                categories_name = #{categoriesName},
            </if>
        </set>
        where id=#{id}
    </update>

    <!--根据ids删除系统设置分类-->
    <delete id="deleteByIds" parameterType="java.util.List">
        delete from system_setting_category where id in
        <foreach collection="list" item="item" open="("
            separator="," close=")">
            #{item}
        </foreach>
    </delete>


    <!-- 根据id查找系统设置分类 -->
	<select id="selectById" resultMap="BaseResultMap"
		parameterType="long"> select <include refid="Base_Column_List" />
		from system_setting_category where id = #{id}
	</select>


    <!-- base where条件  -->
    <sql id="Base_Where_Condition" >
        <where>
            <if test="id != null ">
                and id = #{id}
            </if>
            <if test="parentId != null ">
                and parent_id = #{parentId}
            </if>
            <if test="categoriesName != null ">
                and categories_name = #{categoriesName}
            </if>
        </where>
    </sql>


    <!--查询系统设置分类列表-->
     <select id="pageSystemSettingCategorys" resultMap="BaseResultMap"
        parameterType="com.lhiot.basic.domain.SystemSettingCategory">
	        select <include refid="Base_Column_List" />
	        from system_setting_category
	        <include refid="Base_Where_Condition" />
	        <include refid="common.pager" />
    </select>

    <!--查询系统设置分类总记录-->
    <select id="pageSystemSettingCategoryCounts" resultType="long"
        parameterType="com.lhiot.basic.domain.SystemSettingCategory">
            select count(1)
            from system_setting_category
            <include refid="Base_Where_Condition" />
    </select>

</mapper>